@import "tailwindcss";


:root {
  --primary: #008080;
  --primary-light: #66b2b2;
  --primary-dark: #006666;

  --secondary: #db3600;
  --secondary-light: #e25e32;
  --secondary-dark: #992500;

  --tertiary: #ffffffd3;
  --tertiary-light: #ffffff;
  --tertiary-dark: #000000;
}

@theme {
  --font-lora: var(--font-lora);
  --font-jersey: var(--font-jersey);
  --font-silkscreen: var(--font-silkscreen);
  --font-poppins: var(--font-poppins);

  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);

  --color-tertiary: var(--tertiary);
  --color-tertiary-light: var(--tertiary-light);
  --color-tertiary-dark: var(--tertiary-dark);
}